name: Merge Queue

on:
  pull_request:
    types:
      - labeled
      - opened
      - synchronize

jobs:
  enqueue:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      # - name: Verify PR Label and Checks
      #   run: |
      #     if [[ "${{ github.event.pull_request.labels }}" != *"ready-to-merge"* ]]; then
      #       echo "PR is not labeled as ready to merge. Exiting..."
      #       exit 1
      #     fi
      #     echo "All checks passed and PR is labeled. Adding to merge queue."

      - name: Add PR to Merge Queue
        run: |
          echo "${{ github.event.pull_request.number }}" >> .github/merge-queue.txt

  process-queue:
    runs-on: ubuntu-latest
    needs: enqueue
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Process Merge Queue
        run: |
          QUEUE=$(cat .github/merge-queue.txt)
          if [[ "$QUEUE" != "" ]]; then
            FIRST_PR=$(head -n 1 .github/merge-queue.txt)
            echo "Processing PR #$FIRST_PR"
            git fetch origin pull/$FIRST_PR/head:pr-$FIRST_PR
            git checkout main
            git merge --no-ff pr-$FIRST_PR
            git push origin main
            sed -i '' 1d .github/merge-queue.txt
          else
            echo "No PRs in the queue."
